.sidebar {
    width: 210px;
    height: 100%;
    color: white;
    position: fixed;
    left: 0.5vw;
    top: 80px;
    /* overflow-y: auto; */
    border-right: 2px solid lightgray;
    scrollbar-width: none;
    -ms-overflow-style: none;
    border-radius: 25px 25px 25px 25px;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: transform 0.9s ease-in-out;
    background-color: #114693;
    padding-bottom: 20px;
}


.sidebar.show {
    transform: translateX(0);
}

.container {
    display: flex;
    flex-direction: column;
  }

.sidebar::-webkit-scrollbar {
    display: none;
}


.sidebar-logo {
    text-align: center;
    padding: 20px 0;
}

.rotate {
    transform: rotate(180deg);
}

.trade-options {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

.trade-options.show {
    max-height: 200px;
    transition: max-height 0.5s ease-in-out;
}

.link_div {
    cursor: pointer;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    justify-content: center !important;
    flex-direction: column !important;
    display: flex !important;
    border-radius: 25px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
    padding-left: 15px !important;
    position: relative;
    /* z-index: -1!important; */
}

.link_div:hover {
    background-color: white !important;
    z-index: -1!important;
}

.link_div:hover .link_icons,
.link_div:hover h6 {
    color: black !important;
    z-index: -1!important;
}

.clicked {
    border: 8px solid white !important;
    margin-left: 0px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    width: 100% !important;
    border-top-right-radius: 50px !important;
    border-bottom-right-radius: 5px !important;
}

.services-dropdown {
    background-color: #114693;
    padding: 5px 20px;
    border-radius: 0px 25px 25px 0px;
    margin-left: 1px;
    margin-top: -90px;
    position: absolute!important;
    top: calc(100% - 2px);
    left: 103%;
    min-width: auto;
    width: 245px!important;
    display: none!important;
    z-index: 1000!important;
}

.link_div:hover .services-dropdown {
    display: block!important;
    text-decoration: none;
    z-index: 1!important;
}

.service-link:hover .services-dropdown{
    display: block!important;
    text-decoration: none;
    z-index: 1!important;
    color: black !important;;
}

.service-link {
    color: white;
    text-decoration: none;
    display: block;
    padding: 8px 0;
    transition: background-color 0.3s ease;
    text-decoration: none;
    font-size: 15px!important;
    z-index: 1!important;
    margin-left: -26px!important;
    border-radius: 20px;
}

.service-link span {
    margin-left: 30px;
    text-decoration: none;
    z-index: 1!important;
    color: white!important;
}


@keyframes fadeInFromBottom {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media(max-width:850px){
    .sidebar {
        position: fixed;
        width: 210px;
        height: 91%;
        color: white;
        transition: transform 0.3s ease-in-out, left 0.3s ease-in-out;
        left: 0.5vw;
        top: 80px;
        background-color: #114693;
        padding-bottom: 20px;
        z-index: 500;
        border-radius: 0px 25px 25px 0px;
    }

    .sidebar.show {
        transform: translateX(0);
    }

    .sidebar-overlay {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 200;
        transition: opacity 0.3s ease-in-out;
        opacity: 1;
    }

    .sidebar-link {
        color: white;
        text-decoration: none;
    }

    .sidebar-overlay.hidden {
        opacity: 0;
        pointer-events: none;
    }

    #barsclick {
        display: block !important;
        position: fixed;
        top: 21px;
        left: 13px;
        z-index: 2000;
        cursor: pointer;
    }

    .sidebar::-webkit-scrollbar {
        display: none;
    }
}